@import url('./mcss.css');

@layer config, resets, elements, components, docs, utilities;

@layer docs {

  /* Write documentation styles here */
  .doc-layout {}

  .doc-container {}

  .doc-sidebar {}

  .doc-sidebar ul {}

  .doc-sidebar a {}

  .doc-main {}

  .doc-demo-stack {
    display: flex;
    flex-direction: column;
    gap: var(--stack);

    >* {
      margin: 0;
    }
  }

  .doc-demo-inline {
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--gutter) / 2);
    row-gap: var(--stack);

    >* {
      margin: 0;
    }
  }

  .doc-component-example {
    margin-block-start: var(--stack);

    >* {
      margin: 0;
    }
  }

  body:has(.hero) {
    padding-block-start: 0;
  }

  .hero {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gutter);
    margin: 0;
    padding-inline: 10vi;
    padding-block: calc(var(--stack) * 2);
    color: white;
    background-image: url("https://mikemai.net/mcss/img/mc-hero-edited.jpg");
    background-size: cover;
    background-position: top center;

    >* {
      margin: 0;
    }

    >*:first-child {
      font: inherit;
      font-weight: bold;
    }
  }

  .hero p a {
    text-decoration: none;

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .hero+hr {
    margin-block-start: 0;
  }

  .pangram {
    margin-block-start: calc(var(--stack) / 2);
  }

  .pangram::before {
    display: none;
  }

  .specimen {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4ex, 1fr));
    margin-block-start: var(--stack);
    border-inline-start: 1px solid;
    border-block-start: 1px solid;
  }

  @media (forced-colors: none) {
    .specimen {
      border-image-slice: 1;
      border-image-source: linear-gradient(to bottom, gray, rgb(128 128 128 / 40%));
    }
  }

  .specimen>* {
    display: grid;
    place-items: center;
    block-size: 4ex;
    border-inline-end: 1px solid;
    border-block-end: 1px solid;
  }

  @media (forced-colors: none) {
    .specimen>* {
      border-image-slice: inherit;
      border-image-source: linear-gradient(to right, rgb(128 128 128 / 40%), gray, rgb(128 128 128 / 40%));
    }
  }
}

@layer components {

  /* Write component styles in each component file. If you write overrides here, you will be SHAMED! */
}

@layer utilities {

  /* Write utility classes here. */
  .u-margin-none {
    margin: 0;
  }

  .u-visually-hidden:not(:focus):not(:active) {
    position: absolute;
    clip-path: inset(50%);
    overflow: hidden;
    inline-size: 1px;
    block-size: 1px;
    white-space: nowrap;
  }

  .u-serif {
    font-family: Georgia, serif;
  }

  .u-sans {
    font-family: Verdana, system-ui, sans-serif;
    letter-spacing: 0;
  }

  .u-word-break-all {
    word-break: break-all;
  }
}

@layer config {
  :root {
    --transition: 0.3s ease-in-out;
  }
}
