---
import Layout from "../../layouts/Layout.astro";
import ComponentDoc from "../../components/ComponentDoc.astro";
import AlertComponent from "../../components/Alert.astro";

const alertCode = `<Alert type="info">
  This is an informational alert.
</Alert>
<Alert type="success">
  Operation completed successfully!
</Alert>
<Alert type="warning">
  Be cautious with this action.
</Alert>
<Alert type="error">
  An error occurred. Please try again.
</Alert>
<Alert type="info" dismissible={true} id="custom-alert">
  This alert can be dismissed by clicking the X button.
</Alert>`;
---

<Layout title="Alert Component">
  <ComponentDoc
    componentName="Alert"
    usage={{
      dos: `
        <ul>
          <li>Use dismissible alerts for messages that are intended to disrupt the user&rsquo;s flow</li>
          <li>Use for important status messages and notifications</li>
          <li>Place alerts at the top of the content area</li>
          <li>Keep messages clear and concise</li>
        </ul>
      `,
      donts: `
        <ul>
        <li>Don&rsquo;t stack too many alerts at once</li>
        <li>Don&rsquo;t include complex interactive elements</li>
        <li>Don&rsquo;t use for general content or decorative purposes</li>
        </ul>
      `,
    }}
    accessibility={{
      keyboardNav: `
        <ul>
          <li><kbd>Tab</kbd> focuses on dismiss button for dismissible alerts</li>
          <li><kbd>Enter</kbd>/<kbd>Space</kbd> activates the dismiss button when focused</li>
          <li>The first dismissible alert's dismiss button is autofocused when present</li>
        </ul>
      `,
      screenReaders: `
        <ul>
          <li>When it displays, the alert is announced to screen readers</li>
          <li>Uses <code>role="alert"</code> to announce content</li>
        </ul>
      `,
    }}
    code={alertCode}
  >
    <div class="doc-demo-stack">
      <AlertComponent type="info">
        This is an informational alert.
      </AlertComponent>
      <AlertComponent type="success">
        Operation completed successfully!
      </AlertComponent>
      <AlertComponent type="warning">
        Be cautious with this action.
      </AlertComponent>
      <AlertComponent type="error">
        An error occurred. Please try again.
      </AlertComponent>
      <AlertComponent type="info" dismissible={true} id="custom-alert">
        This alert can be dismissed by clicking the X button.
      </AlertComponent>
    </div>
  </ComponentDoc>
</Layout>
