---
import Layout from "../../layouts/Layout.astro";
import ComponentDoc from "../../components/ComponentDoc.astro";
import DialogComponent from "../../components/Dialog.astro";

const dialogCode = `<!-- Trigger button -->
<button type="button" data-dialog="info-dialog">View Information</button>

<!-- Dialog example -->
<Dialog id="info-dialog" title="Information">
  <p>This dialog contains important information for the user.</p>
  <p>It can contain more complex UI elements or longer content.</p>
  <form method="dialog">
    <p>
      <button type="submit">OK</button>
    </p>
  </form>
</Dialog>`;
---

<Layout title="Dialog Component">
  <ComponentDoc
    componentName="Dialog"
    usage={{
      dos: `
        <ul>
          <li>Use for important information requiring user attention</li>
          <li>Keep dialogs simple and focused on a single task</li>
          <li>Provide clear actions (confirm, cancel, etc.)</li>
          <li>Use descriptive titles that summarize the purpose</li>
          <li>Allow keyboard navigation within the dialog</li>
        </ul>
      `,
      donts: `
        <ul>
          <li>Don&rsquo;t use for non-critical information</li>
          <li>Don&rsquo;t nest dialogs within dialogs</li>
          <li>Don&rsquo;t use for complex multi-step processes</li>
          <li>Don&rsquo;t use for content that should be part of the main page</li>
          <li>Don&rsquo;t make dialogs too large or overloaded with content</li>
        </ul>
      `,
    }}
    accessibility={{
      keyboardNav: `
        <ul>
          <li><kbd>ESC</kbd> key closes the dialog</li>
          <li><kbd>Tab</kbd> key moves focus between interactive elements</li>
          <li>Focus is contained within the dialog</li>
          <li>When opened, focus moves to the first focusable element</li>
          <li>When closed, focus returns to the trigger element (if any)</li>
        </ul>
      `,
      screenReaders: `
        <ul>
          <li>When opened, the dialog context is announced to screen readers</li>
          <li>Uses the HTML <code>&lt;dialog&gt;</code> element</li>
        </ul>
      `,
    }}
    code={dialogCode}
  >
    <!-- Trigger buttons -->
    <button type="button" data-dialog="info-dialog">Open Dialog</button>

    <DialogComponent id="info-dialog" title="Impossible Mission">
      <p>
        Good morning, Mike. Your mission, should you decide to accept it, is to build a better web.
        As always, should you or any member of your IM Force be caught or killed, the Secretary will
        disavow any knowledge of your actions. This webpage will self-destruct in five seconds. Good
        luck.
      </p>
      <form method="dialog">
        <p>
          <button type="submit">OK</button>
        </p>
      </form>
    </DialogComponent>
  </ComponentDoc>
</Layout>
