---
import Layout from "../../layouts/Layout.astro";
import ComponentDoc from "../../components/ComponentDoc.astro";
import TabsComponent from "../../components/Tabs.astro";

const tabsData = [
  {
    id: "optimus-prime",
    label: "Optimus Prime",
    content: 'Throughout the <a href="https://en.wikipedia.org/wiki/Transformers_(franchise)">Multiverse</a>, the name Optimus Prime is associated with bravery, self-sacrifice, and an indomitable fighting spirit, a warrior always ready to lay down their life to protect sentient life, no matter its form.',
    default: true,
  },
  {
    id: "megatron",
    label: "Megatron",
    content: "Megatron is the founder of the Decepticon uprising, and their most well-known and feared leader. As a young, charismatic leader forged in battle and the heritage of war, he began to believe in a grand purpose for his race it is the Transformers' glorious destiny to rule an empire which will span the universe. The opposite of his mortal enemy Optimus Prime, he feels great contempt for other Transformers who, he feels, betray their proud heritage by demanding peace and cooperation with weaker life forms. It is the destiny of the Decepticons to bring order to the universe through conquest, though in the millions of years since coining this purpose it remains to be seen how much of his mission statement is altruistic... and how much of it is mere words built to fuel warriors to further his desire for personal power.",
  },
  {
    id: "bumblebee",
    label: "Bumblebee",
    content: "Bumblebee, formerly known as Volks, is one of the smallest and physically weakest Autobots. While his stature allows him to do his job better than most Autobots could manage, he is self-conscious about his size. Maybe this is why he makes fast friends among the humans. He looks up (so to speak) to the other Autobots, especially Optimus Prime, but what he doesn't realize is that they look up to him. He may be small, but he's brave, and he's one of the most well-liked Autobots around. Bumblebee already has the respect he craves. But the poor bot seems to get kidnapped a lot. Bumblebee is the Autobot's spy and scout. His talents involve espionage.",
  },
];

const tabsCode = `<Tabs
  tabs={[
    {
      id: "tab-1",
      label: "Tab 1",
      content: "Tab content goes here...",
      default: true
    },
    {
      id: "tab-2",
      label: "Tab 2",
      content: "Tab content goes here..."
    },
    {
      id: "tab-3",
      label: "Tab 3",
      content: "Tab content goes here..."
    }
  ]}
/>`;
---

<Layout title="Tabs Component">
  <ComponentDoc
    componentName="Tabs"
    usage={{
      dos: `
        <ul>
          <li>Use for reducing cognitive load</li>
          <li>Use for organizing related content into distinct sections</li>
          <li>Order tabs by priority or logical sequence</li>
          <li>Keep tab labels short and descriptive</li>
        </ul>
      `,
      donts: `
        <ul>
          <li>Don&rsquo;t use for primary navigation</li>
          <li>Don&rsquo;t use too many tabs (limit to 5&ndash;7 max)</li>
          <li>Don&rsquo;t use for content that should be viewed all at once</li>
          <li>Don&rsquo;t hide critical information in non-default tabs</li>
        </ul>
      `,
    }}
    accessibility={{
      keyboardNav: `
        <ul>
          <li><kbd>Tab</kbd> key moves focus to the active tab</li>
          <li><kbd>Arrow</kbd> keys navigate between tabs</li>
          <li><kbd>Home</kbd>/<kbd>End</kbd> keys jump to first/last tab</li>
          <li><kbd>Space</kbd>/<kbd>Enter</kbd> activates the focused tab</li>
        </ul>
      `,
      screenReaders: `
        <ul>
          <li>The tabs interface context is announced to screen readers</li>
          <li>Uses <code>role="tablist"</code> for the tab container</li>
          <li><code>role="tab"</code> for individual tabs</li>
          <li><code>role="tabpanel"</code> for content panels</li>
          <li><code>aria-selected</code> indicates active tab</li>
          <li><code>aria-controls</code> associates tabs with their panels</li>
        </ul>
      `,
    }}
    code={tabsCode}
  >
    <TabsComponent tabs={tabsData} />
  </ComponentDoc>
</Layout>
